@model List<Personal.MyApp.Models.Item>

@{
    ViewData["Title"] = "Index";
}

<h3>Index</h3>

@using (Html.BeginForm("Create", "Items", FormMethod.Post))
{
    <button type="submit" class="btn btn-primary">Create</button>
}

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Price.ToString("#,0.00")</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>

        }
    </tbody>
</table>